*{
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 10px 60px -12px 150px;
   
    
}

.main-container{
    align-items:center;
    background-image: url(images/bg-pattern-top-desktop.svg),url(images/bg-pattern-bottom-desktop.svg);
    /* background-position:right top,left bottom; */
    background-repeat: no-repeat;

}
.card-inner{
     padding: 4px;
     margin: 50px 10px 0px 15px;
    /* padding-left: 10%;  */
    
}

.star p{
    color:hsl(300, 43%, 22%);
    background: hsl(300, 24%, 96%);
    font-size: 15px;
    width: 340px; 
    height: 40px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

h1{
    color:hsl(300, 43%, 22%);
    font-weight: 700;
}
p{
    color: hsl(303, 10%, 53%);
}
.open p{
    color:hsl(300, 43%, 22%);
    font-size: 15px;
}


.card p{
    color: hsl(0, 0%, 100%);
    /* text-align: center; */
   
}
.card{
    border: transparent;
    background: transparent; 
    width: 95%;
    padding-left: 30px;
    padding-right: 30px;
  
}
.card img{
    border-radius: 50%;
    width: 15%;
    margin-right: 20px;
}
.card h6{
    color: hsl(0, 0%, 100%);
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}

.card span{
    color:  hsl(303, 10%, 53%);
}

.card-1{
    background: hsl(300, 43%, 22%);
    padding: 20px;
    border-radius: 10px;
    height: 235px;
}
.card-2{
    background: hsl(300, 43%, 22%);
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    height: 235px;
}
.card-3{
    background: hsl(300, 43%, 22%);
    margin-top: 40px;
    padding: 20px;
    border-radius: 10px;
    height: 235px;
}
.one{
    padding: 0px 10px 10px 0px;
    margin: 0px 0px 0px -40px ;
}
.two{
    padding: 0px 0px 7px 20px;
}
.three{
    padding: 0px 0px 0px 70px ;
}
.star{
    margin-top: 40px;
}
.open{
    margin-top: 30px;
    margin-left: 40px;
}
.head{
    display: flex;
    flex-direction: column;
}